.features {
    padding: 96px 0;
}

.features-title {

}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px 24px;
}

.features-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features-icon-box {
    display: none;
}

.features-icon {

}

.features-item-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.features-item-desc {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media (min-width: 768px) {
    .features-list {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-item-subtitle {
        text-align: start;
    }

    .features-item-desc {
        line-height: 1.5;
    }
}

@media (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
    }

    .features-item-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}