.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    text-align: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 256px;
    margin: 0 auto;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
}

.team-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-item-desc {
    line-height: 1.5;
    color: #434455;
}

.team-item-img {

}

@media (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
        max-width: 552px;
    }
}

@media (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        max-width: none;
        flex-wrap: nowrap;
    }
}